package chess

func (p Peace) Is{Color}() bool {
	return p&{Color} == {Color}
}

func (p Peace) IsEmptyOr{Color}() bool {
	return uint8(p)&{OponentColor} == 0
}

func (p Peace) Is{Color}LinearMover() bool {
	return uint8(p)&(LinearMoverMask|ColorMask) == LinearMoverMask|{Color}
}

func (p Peace) Is{Color}DiagonalMover() bool {
	return uint8(p)&(DiagonalMoverMask|ColorMask) == DiagonalMoverMask|{Color}
}
